stockcontrol.wip {
    tls internal
    reverse_proxy http://127.0.0.1:4200
}

mobile.stockcontrol.wip {
    tls internal
    reverse_proxy http://127.0.0.1:4201
}

api.stockcontrol.wip {
    tls internal
    reverse_proxy http://127.0.0.1:8000
}
